/* global styles */
html *, h1, h2, h3, h4, h5, h6 {
    font-family: 'Courier New', Courier, monospace;
}

/* nav bar */
nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #32CD32;
}

nav ul {
    margin: 0;
    padding: 25px;
}

nav ul li {
    display: inline;
    padding-left: 35px;
}

.link {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 100px;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
}

.link:hover, .link:active {
    color: #FFFFFF;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.225);
    cursor: pointer;
}

/* side nav */
#side-nav {
    background-color: #32CD32;
    position: fixed;
    z-index: 1;
    margin: 0;
    padding-left: 12px;
    padding-top: 60px;
    height: 100%;
    width: 110px;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.obj-link {
    font-size: 20px;
    font-weight: 100px;
    display: block;
    padding: 30px 10px 30px 10px;
}

.obj-link:hover, .obj-link:active {
    background: rgba(255, 255, 255, 0.225);
    text-decoration: none;
    cursor: pointer;
}

.obj-link .side-nav-link {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

/* everything besides the side-nav id */
.body:not(#side-nav) {
    transition: 50px .5s;
    padding: 20px;
}


/* error message */
.error-field {
    color: red;
}

/* recipe tracker home page */
.home {
    padding-left: 80px;
}

/* recipes table*/
#table, .controls{
    padding-left: 30px;
    display: table;
}

#table {
    background: #e8ffeda2;
    padding: 18px 18px;
    align-items: center;
    width: 96%;
}

.tr {
    display: inline-grid;
    border: #D9D9D9 ridge 1px;
    width: 15.7rem;
    table-layout: fixed;
}

.td {
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.td image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    padding: 0px 5px 0px;
    text-align: left;
}

.td {
    color: black;
}

.name {
    font-weight: bold;
}

/* recipe form */
.recipe-form {
    background: #ffffff;
}

/* recipe details */
.body {
    padding-top: 30px;
}

.search-bar {
    width: 975px;
}

.add-btn {
    float: right;
}

.add-btn .url, .add-btn .custom {
    padding-inline: 5px;
}

.block {
    display: inline;
}

.image .btn-container button {
    width: 300px;
}

.recipe-author, .recipe-source {
    text-align: right;
    margin-top: 10px;
}

.recipe-name h1{
    text-align: center;
}

.recipe-type {
    margin-left: 425px;
}

.recipe-type li {
    display: inline-block;
    margin-right: 20px;
}

.recipe-times {
    margin-left: 85px;
}

.recipe-times td {
    text-align: center;
}

.recipe-desc {
    text-align: center;
}

.recipe-ingr-header, .recipe-instr-header {
    margin-left: 25px;
}

{/*
.recipe-ingr-header li {
    display: inline-block;
}
*/}

.recipe-ingr-header .scale-convert {
    text-align: right;
}

/* tabbed information recipe detail */
.right-block-recipe-detail {
    text-align: center;
}

.tabs-recipe-detail {
    width: 700px;
    height: 450px;
    max-height: fit-content;
    background-color: #F8F8F8;
}

/* general tabbed styling */
#tab1 {
    display: block;
}

#tab2 {
    display: none;
}

ul.tab-content-recipe-detail {
    display: flex;
    align-items: center;
    padding: 0;
}

ul.tab-content-recipe-detail li {
    width: 50%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

ul.tab-content-recipe-detail li:hover {
    background: rgb(222, 222, 222);
}

ul.tab-content-recipe-detail li.active {
    background: rgb(123, 200, 47);
}

/* planner */
.planner-table, .planner-tr, .planner-th-row, .planner-th-col, .planner-table td {
    border: 1px solid rgb(123, 200, 47);
    border-collapse: collapse;
}

.planner-th-row {
    height: 150px;
    transform: rotate(-90deg);
}

.planner-table {
    table-layout: fixed;
    width: 100%;
}

.planner-th-col {
    width: 14%;
}

.planner-subtitle {
    font-weight: bold;
    font-size: 10px;
}

/* meal planner table, using divs */
.ptable {
    display: table;
    width: 100%;
    /*table-layout: fixed;*/
}

.ptable-row {
    display: table-row;
}

.ptable-cell, .ptable-head {
    display: table-cell;
    border: 0.5px solid #999999;
    padding: 3px 10px;
    vertical-align: middle;
    height: 100px;
    /*table-layout:fixed;*/
}

/* grocery list */
/* tabbed information grocery list */
.tabs-grocery-list {
    width: 250px;
    height: 450px;
    max-height: fit-content;
    background-color: #F8F8F8;
}

ul.tab-list {
    align-items: center;
    padding: 0;
}

ul.tab-list li {
    width: 100%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

ul.tab-list li:hover {
    background: rgb(222, 222, 222);
}

ul.tab-list li.active {
    background: rgb(227, 227, 227);
}

.right-block-grocery-list {
    width: 100%;
    padding: 100px 50px 50px 50px; /* top right bottom left */
    vertical-align: top;
    text-align: left;
}

/* guest home page */
.first-section, .second-section {
    display: flex;
}

.first-section .caption {
    background-color: #2a2a2a2d;
    padding: 70px;
}

.first-section .caption h2 {
    color: #ffffff;
}

.second-section div {
    width: 100%;
}

.content {
    padding: 25px;
    display: flex;
}

.content h4 {
    float: left;
}

.content p {
    margin: 0px 0px 0px 350px;
}

#cook-container {
    background-color: #32cd323c;
}

#plan-container {
    background-color: #32cd327b;
}

#shop-container {
    background-color: #32cd32a9;
}

.caption, .text-segment {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(170, 170, 170);
    color: rgb(255, 255, 255);
}

.footer {
    padding: 30px;
    background-color: #32CD32;
}

/* user home page */
.home-background {
    background-color: #ffebb033;
    display: flex;
}

.home-background main section {
    padding: 20px;
}