/* nav bar */
nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    height: 35px;
}

nav ul {
    margin: 0;
    padding: 8px;
    background-color: white;
}

nav ul li {
    display: inline;
    padding-left: 35px;
}

/* error message */
.error-field {
    color: red;
}

/* recipe tracker home page */
.home {
    padding-left: 80px;
}

/* recipes table*/
#table, .controls{
    padding-left: 30px;
    display: table;
}

#table {
    background: #A0C5E8;
    padding: 10px 30px;
    width: 88%;
}

.tr {
    display: inline-grid;
    border: #D9D9D9 ridge 1px;
    width: 15.7rem;
    table-layout: fixed;
}

.td {
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap: break-word;
}

.td image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    padding: 0px 5px 0px;
    text-align: left;
}

.td {
    color: black;
}

.name {
    font-weight: bold;
}

/* recipe details */
.body {
    padding-top: 30px;
}

.search-bar {
    width: 975px;
}

.add-btn {
    float: right;
}

.add-btn .url, .add-btn .custom {
    padding-inline: 5px;
}

.block {
    display: inline;
}

.image .btn-container button {
    width: 300px;
}

.recipe-author, .recipe-source {
    text-align: right;
    margin-top: 10px;
}

.recipe-name h1{
    text-align: center;
}

.recipe-type {
    margin-left: 425px;
}

.recipe-type li {
    display: inline-block;
    margin-right: 20px;
}

.recipe-times {
    margin-left: 85px;
}

.recipe-times td {
    text-align: center;
}

.recipe-desc {
    text-align: center;
}

.recipe-ingr-header, .recipe-instr-header {
    margin-left: 25px;
}

{/*
.recipe-ingr-header li {
    display: inline-block;
}
*/}

.recipe-ingr-header .scale-convert {
    text-align: right;
}

/* tabbed information */
.right-block {
    text-align: center;
}

.tabs {
    width: 700px;
    height: 450px;
    max-height: fit-content;
    background-color: #F8F8F8;
}

#tab1 {
    display: block;
}

#tab2 {
    display: none;
}

ul.tab-content {
    display: flex;
    align-items: center;
    padding: 0;
}

ul.tab-content li {
    width: 50%;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

ul.tab-content li:hover {
    background: rgb(222, 222, 222);
}

ul.tab-content li.active {
    background: rgb(123, 200, 47);
}